
.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1px;
  padding: 1px;
}


.quickInfoPanel{ 
    position: absolute;
    font-family: sans-serif;
    font-color: #FF0000;
    color: #FFFFFF;
    bottom: 20px;
    right: 1px;
    z-index: 2;
    width: 20%;
    background: rgba(80,80,80,.75);
    transition: width 2s, height 2s;
    border-radius: 7px;
}

.settingPannel{
    position: absolute;
    font-family: sans-serif;
    font-color: #FF0000;
    color: #FFFFFF;
    bottom: 30px;
    right: 1px;
    z-index: 2;
    width: 20%;
    /*height: 100px;      */
    background: rgba(80,80,80,.75);
    transition: width 2s, height 2s;
    border-radius: 7px;
}

.colorbarNumber{
  width: 4em;
}


/*.colorbarPanel {
  color: #FFFFFF;
  position: absolute;
  font-family: sans-serif;
  bottom: 80px;
  right: 1px;
  z-index: 2;
  width: 20%;
  background: rgba(80,80,80,.75);
  transition: width 2s, height 2s;
  overflow: hidden;
  border-radius: 5px;
}*/
